<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculation of LCM</title>
</head>

<body>
    <h1>The Least Common Multiple<h1>
            <form action="/calc" method="POST">
                <label for="nb1" style="font-size: 18px">Number 1:</label>
                <input type="number" id="nb1" name="number1" min="1"><br>

                <label for="nb2" style="font-size: 18px">Number 2:</label>
                <input type="number" id="nb2"name="number2" min="1"><br>

                <button>Calculate LCM</button>
            </form>
</body>

</html>