<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-9" />
    <title>About</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />


</head>


<body>


    <section>
        <div>
            <h1 class="heading"> WHO AM I ? </h1>
        </div>

    </section>

    <section>
        <div class="container">
       

            <div class="left">
                <img src="{{ url_for('static',filename='images/res.jpg')}}" height="{{400}}" width="{{400}}"
                    alt="IMAGE ERROR">
            </div>
    
            <div class="right">
    
                <h1> Hi, I’m Ayhan.<br />
                    I’m interested in Java, Android, Phyton, C# and AWS,DevOps .<br />
                    I’m currently learning java and AWS . I’m looking to collaborate on java projects<br />
                </h1>
    
            </div>
        </div>
    

    </section>

    <section>
        <img src="{{ url_for('static',filename='images/underconst.png')}}" height="{{200}}" width="{{400}}"
        alt="IMAGE ERROR">

    </section>
   









</body>

</html>